@import url('https://fonts.googleapis.com/css?family=Asap');

#nav {
  font-size: 2em;
  font-family: 'Asap', sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
